<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formLogin"></span>
<!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Embarcaciones</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre de la embarcación" #nombre>
                        </div>
                        <div class="form-group">
                            <label for="isbn">ISBN</label>
                            <input type="text" class="form-control" id="isbn" placeholder="ISBN" #isbn>
                        </div>
                        <div class="form-group">
                            <label for="bandera">Bandera</label>
                            <input type="text" class="form-control" id="bandera" placeholder="Bandera" #bandera>
                        </div>
                            <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, isbn.value, bandera.value)">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">   
    <div class="row row-flex" >
        <app-barco *ngFor="let x of barcos" [barco]="x"></app-barco>
    </div>
</div>
