    <div class="card-content">
        <div class="card-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTf9tLWiSNLRTBY7UHJ6vx_PFefBFw74f93qg&usqp=CAU" alt="">
            <span><h4>{{barco.nombre}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{barco.nombre}}</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor
                quo, perspiciatis voluptas totam</p>
            <a href="#" class="btn-card">Leer</a>
        </div>
    </div>
